
/* ===============
 * General
 * =============== */

* {
  font-size: 18px;
  line-height: 1.5rem;
  color: #34353b;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

p {
  margin-bottom: 0.8em;
  line-height: 1.4em;
}

label {
  font-weight: bold;
}

select,
input {
  border: 1px solid #34353b !important;
}

/* ===============
 * Layout
 * =============== */

#sidebar,
#content {
  border-bottom: 2px solid #34353b;
}

@media (min-width: 768px) {
  #sidebar {
    border-right: 2px solid #34353b;
  }
}

/* ===============
 * Navigation
 * =============== */

nav a h1 {
  margin-bottom: 0;
  font-size: 1.4rem;
  color: #ffffff;
}

/* ===============
 * Vue app
 * =============== */

[v-cloak] {
  display: none;
}

/* ===============
 * Sidebar
 * =============== */

#sidebar,
#sidebar .card .card-header {
  padding: 0px;
}

#sidebar .card,
#sidebar .card .card-header {
  border: none;
  border-radius: 0;
}

#sidebar .card .card-header {
  border-top: 1px solid #34353b;
}

#sidebar .card:first-child .card-header {
  border-top: none;
}

#sidebar .card .card-header h2 {
  padding: 0.4rem 1rem;
  margin-bottom: 0;
  font-size: 1.2rem;
  color: #007bff;
}

#sidebar .card .card-body {
  padding: 0.6rem 1rem;
}

#sidebar .form-group {
  margin-bottom: 0.5rem;
}

#sidebar .form-group .form-check-label {
  font-weight: normal;
}

#sidebar .form-group .input-group-append .input-group-text {
  min-width: 45px;
}

/* ===============
 * Content
 * =============== */

#content {
  padding: 0;
}

.nav-tabs {
  margin-top: 5px;
  padding: 0 1rem;
  border-bottom: 1px solid #34353b;
}

.nav-item.nav-link {
  border-radius: 0;
}

.nav-item.nav-link.active {
  border-color: #34353b #34353b #ffffff;
}

/* Design */

#design-tab #editor-output,
#edit-tab #editor-input {
  width: 100%;
  min-height: 500px;
  height: 100%;
  padding: 1rem;
}

#design-tab #editor-output h1,
#design-tab #editor-output h2,
#design-tab #editor-output h3,
#design-tab #editor-output h4,
#design-tab #editor-output h5,
#design-tab #editor-output h6 {
  margin-bottom: 0.2em;
  line-height: 1.15em;
}

#design-tab #editor-output h1 {
  font-size: 34px;
}

#design-tab #editor-output h2 {
  font-size: 30px;
}

#design-tab #editor-output h3 {
  font-size: 26px;
}

#design-tab #editor-output h4 {
  font-size: 22px;
}

#design-tab #editor-output h5 {
  font-size: 18px;
}

/* Edit */

#edit-tab #editor-input {
  font-family: Monaco, Courier, monospace;
  font-size: 15px;
  line-height: 1.1rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-style: none;
  outline: none;
}

/* Embed */

#embed-tab {
  padding-top: 1rem;
}

#embed-tab h2 {
  padding: 0 1rem;
}

#embed-tab pre {
  display: block;
  padding: 1rem 1rem 0 1rem;
  background-color: rgba(0, 0, 0, 0.03);
}

/* ===============
 * Footer
 * =============== */

footer {
  padding: 10px;
}
