
/* ===============
 * General
 * =============== */

* {
  font-size: 18px;
  line-height: 1.5rem;
  color: #34353b;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.2rem;
}

select,
input {
  border: 1px solid #34353b !important;
}

textarea {
  overflow: auto;
}

/* ===============
 * Layout
 * =============== */

nav,
#sidebar,
#content {
  border-bottom: 2px solid #34353b;
}

#sidebar {
  border-right: 2px solid #34353b;
}

/* ===============
 * Navigation
 * =============== */

nav h1 {
  margin-bottom: 0;
}

/* ===============
 * Vue app
 * =============== */

[v-cloak] {
  display: none;
}

/* ===============
 * Sidebar
 * =============== */

#sidebar,
.card-header {
  padding: 0px;
}

.card,
.card-header {
  border-radius: 0;
}

#sidebar h2 {
  padding: 4px 18px;
  margin-bottom: 0;
}

label {
  font-weight: bold;
}

.form-check-label {
  font-weight: normal;
}

/* ===============
 * Content
 * =============== */

#content {
  padding: 0;
}

/* Settings */

#settings {
  border-bottom: 1px solid black;
}

.btn-edit {
  width: 100%;
}

/* Editor */

#editor {
  padding: 20px;
}

#editor #editor-input {
  font-family: Monaco, courier, monospace;
  font-size: 15px;
  line-height: 1.1rem;
  background-color: rgb(246, 246, 246);
  border-style: none;
  outline: none;
}

#editor #editor-input,
#editor #editor-output {
  width: 100%;
  min-height: 500px;
  height: 100%;
}

/* ===============
 * Footer
 * =============== */

footer {
  padding: 10px;
}
